/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	max-width: 880px;
	font-family: 'Titillium Web', sans-serif;
	
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.navigation {
	display: inline-block;
	text-align: justify;
	margin-top: 25px;
	padding-left: 50px;
	padding-bottom: 10px;
	border: 25px;
}

.navigation a{
	margin: 3px;
	border: 0px;
	padding: 10px;
	padding-bottom: 10px;
	vertical-align:	50%;
	color: grey;
	text-decoration: none;
	
}
.header {
	display: inline-block;

}

#top  {
	position: relative;
	float: right;
	padding-left: 50px;	
	}
	
h2 {
	display: inline-block;
	position: relative;
	margin: 55px;
	margin-bottom: 0px;
	padding: 5px;
	font-size: 56px;
	line-height: 1.2;
	text-align: center;
	}

.topimg {
	position: relative;
	padding-top: 0px;
	margin: 75px;
	float: right;
	}

#start a:link, a:visited {
	background-color: white;
	color: black;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: solid 1px black;
	position: relative;
	margin-left: 83px;
	margin-top: 0px;
	margin-bottom: 75px;
	
	
}

#start a:hover, a:active {
	color: lightgrey;
} 

#line {
	position: relative;
	margin-top: 50px;
	margin-bottom: 35px;
	width: 880px;
}

h3 {
	font-size: 16px;
    margin: 15px;
    padding: 5px;
}

.topcontent {
	display: inline-block;
	margin: 100px;
	border: 100px;
	padding: 100px;
	
}

.middle-img {
	margin-bottom: 25px;
	margin-top: 50px;
}

span.b {
	display: inline-block;
	width: 438px;
	height:	125px;
	padding: 5px;

}

span.c {
	display: inline-block;
	width: 290px;
	height: 100px;
	padding: 5px;
}

footer {
	text-align: center;
}















